@import url('reset.css');
@import url('global.css');
@import url('components/_navigator.css');
@import url('components/_pills.css');
@import url('components/_link-button.css');
@import url('components/_gallery.css');

.s-wrapper {
    display: flex;
    height: 100vh;
    flex-flow: row nowrap;
    background-color: rgb(0, 0, 0);
}

.s-wrapper .s-left-column {
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding-right: 0;
    left: 0;
    top: 0;
    z-index: 1;
}

/*.s-wrapper .s-left-column .navigator ul li a:hover {
    color: #89001F;
    background-color: rgb(184, 34, 34);
}*/

.s-wrapper .s-main-content {
    height: 100%;
    width: 100%; 
    background-size: cover;
    background-attachment: fixed;
    padding-left: 130px;
    position: relative;
}

.s-wrapper .s-main-content__top {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.s-wrapper .s-main-content__bottom {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.s-wrapper .s-main-content__bottom .gallery ul li a img{
    display: inline-block;
    width: 87%;
}

.s-wrapper .s-main-content__top .s-logo img {
    width: 55%;
    margin-top: 10px;
    margin-left: 0px;
    margin-bottom: 3px;
}


.s-wrapper .s-main-content__top .s-description {
    background-color: rgba(0, 0, 0, 0.534);
    max-width: 56%;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.s-wrapper .s-main-content__top .s-description__text p {
    color: white;
    line-height: 170%;
}

.s-wrapper .s-main-content__top .s-description .pills {
    margin-bottom: 20px;
}

.s-wrapper .s-main-content .s-links {
    padding: 5px;
    padding-left: 0;
}

.s-wrapper .s-main-content .s-links ul {
    display: flex;
    flex-direction: row;
}

.s-spiderman-01-02 {
    background-image: url('../images/spiderman-tom/movie-01/background.png');
    background-size: cover;
    background-position: center center;
}

.s-spiderman-02-02 {
    background-image: url('../images/spiderman-tom/movie-02/background.png');
    background-size: cover;
    background-position: center center;
}

.s-spiderman-03-02 {
    background-image: url('../images/spiderman-tom/movie-03/background.png');
    background-size: cover;
    background-position: center center;
}

.s-spiderman-02-01 {
    background-image: url('../images/spiderman-andrew/movie-01/background.png');
    background-size: cover;
}

.s-spiderman-01-01 {
    background-image: url('../images/spiderman-andrew/movie-02/background.png');
    background-size: cover;
}
.gallery-position .s-main-content__bottom .gallery ul li a{
    max-width: 100px;
}