.s-wrapper {
    display: flex;
    height: 100vh;
    flex-flow: row nowrap;
    background-color: aqua;
}

.s-wrapper video {
    position: fixed;
    width: 100%;
    
}
.s-wrapper .s-left-column {
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding-right: 50px;
    left: 0;
    top: 0;
    z-index: 1;
}

.s-wrapper .s-main-content {
    height: 100%;
    width: 100%; 
    padding-left: 130px;
    position: relative;
}

.s-wrapper .s-main-content__top {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.s-wrapper .s-main-content__bottom {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.s-wrapper .s-main-content__top .s-logo img {
    width: 55%;
    margin-top: 30px;
    margin-left: 0;
    margin-bottom: 15px;
}


.s-wrapper .s-main-content__top .s-description {
    background-color: rgba(0, 0, 0, 0.705);
    max-width: 64%;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.s-wrapper .s-main-content__top .s-description__text p {
    color: white;
    line-height: 170%;
}

.s-wrapper .s-main-content__top .s-description .pills {
    margin-bottom: 20px;
}

.s-wrapper .s-main-content .s-links {
    padding: 5px;
    padding-left: 0;
}

.s-wrapper .s-main-content .s-links ul {
    display: flex;
    flex-direction: row;
}